@use '../abstract/' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $font-color-night;
    font: {
        family: 'Ubuntu', 'Roboto', sans-serif;
        weight: 300;
        size: 16px;
    };
}

body {
    display: grid;
    background-color: $background-color-night;
    overflow-x: hidden;
}

img {
    width: 100%;
}