@use '../abstract/' as *;

.container {
    justify-self: center;
    padding: 100px 20px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {

    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {

    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding: 0 20px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        padding: 0;
        max-width: 77.5vw;
        margin-top: -75px;
    }
}