.footer {
    display: grid;

    &_container {
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
        padding: 50px 20px 0 20px;
        gap: 25px;
    }
    &_widget {
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    }
    &_menu {
        order: 2;
    }
    &_text {
        &-title {
            font: {
                size: 22px;
            };
            padding-bottom: 12px;
        }
    }
    &_address {
        font: {
            size: 16px;
            style: normal;
        };
        line-height: 1.5;
    }
    &_super {
        padding: 15px 20px;
        text-align: center;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        &_container {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
        &_widget {
            grid-template-columns: 1fr 1fr;
            gap: 0;
            //MODIFIER 
            &.-about {
                grid-template-columns: 1fr 2fr;
            }
        }
        &_super {
            padding-bottom: 15px;
        }
        &_menu {
            order: 0;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        &_container {            
            gap: 0;
        }
        &_widget {
            grid-template-columns: 2fr 1fr;

            //MODIFIER 
            &.-about {
                grid-template-columns: 1fr 2fr;
            }
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        &_container {
            padding: 0;
            max-width: 77.5vw;
        }
    }
}