@use '../abstract/' as *;

.header {
    display: grid;
    position: fixed;
    width: 100vw;
    z-index: 2;
    background: #242424;

    &_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: left;
        &-link {
            padding: 10px 28px;
        }
    }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        background: none;
        position: relative;
        width: auto;
        &_logo {
            justify-self: auto;
        }
        grid-template-columns: 1fr 3fr;
        background-color: $background-color-night;
        &_logo {
            &-link {
                margin-left: -50px;
            }
        }
    }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        min-height: 75px;
        max-width: 100vw;
        z-index: 1;
        &_logo {
            &-link {
                margin-left: 0;
            }
        }
    }
}