@use '../abstract/' as *;

.section {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    min-height: 88vh;
    &_half {
        @include flex;
        align-items: center;
        margin: 0;
        order: 0;
        // MODIFIER
        &.-image {
            order: 1;
            height: 300px;

            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                
            }
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                order: 0;
                height: auto;
            }
        }
    }
    &_group {
        display: grid;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        
    }
    
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        
    }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        min-height: 630px;
        grid-template-columns: 1fr 1fr;
    }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        min-height: 100vh;
    }

    //MODIFIERS
    // &.-home {
        
    // }
    &.-about {
        & .section_group {
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                grid-template-rows: 102px auto auto;
                margin: 0 10px;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100vh;
            transform: translateX(-50%);
            background-image: linear-gradient(0deg, transparent, #202020);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
            z-index: -1;
        }
    }
    &.-skills {
        text-align: left;
        grid-template-columns: 1fr;
        & .section_group {
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                text-align: center;
            }
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                justify-content: center;
                align-self: center;
                grid-template-rows: 102px 120px 550px;
            } 
        }
    }
    &.-contact {
        & .section_group {
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                grid-template-rows: 102px auto 1fr;
            }
        }
    }
}