// NIGHT MODE
$background-color-night: #242424;
$font-color-night: #f2f2f2;

// LIGHT MODE
$background-color-light: #f2f2f2;
$font-color-light: #242424;

// THEME COLOR
$theme-color: #FF6366;

// BORDER-RADIUS
$border-radius: 35px;
