* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ded1d1;
}

img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-self: start;
    min-width: 100vw;
    min-height: 75px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    max-width: 30%;
    margin-top: 5px;
}

header .logo a {
    max-width: 75px;
    padding: 0 20px;
}

header .logo a svg {
    max-width: 36px;
    max-height: 50px;
}

nav {
    display: flex;
    flex: 1 0 100%;
    max-width: 50%;
    align-items: center;
}

ul {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    font-weight: bolder;
    font-size: 15px;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #FF6366;
    font-size: 46px;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #444444;
}

footer {
    display: flex;
    align-self: end;
    justify-self: center;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

a {
    color: #FF6366;
    text-decoration: none;
}